__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
env/
.vscode/
.idea/

Data_old/
DeepKa_Results/
Features_old/
Mutant_Data/
# Ignore everything under Results
Results/*

# Re-include selected subfolders
!Results/GCN_Grid_Search/
!Results/GIN_Grid_Search/
!Results/GAT_Grid_Search/
# Ignore all files inside those subfolders
Results/GCN_Grid_Search/*
Results/GIN_Grid_Search/*
Results/GAT_Grid_Search/*

# Allow README placeholders only
!Results/GCN_Grid_Search/README.md
!Results/GIN_Grid_Search/README.md
!Results/GAT_Grid_Search/README.md

# Ignore binaries everywhere
*.pt
*.pkl
*.npz
*.npy
*.zip
*.tar
*.tar.gz

# Ignore everything under Data
Data/*

# Re-include the directory itself
!Data/0_Raw_PDB/

# Ignore everything inside it
Data/0_Raw_PDB/*

# But keep the README file
!Data/0_Raw_PDB/README.md

# Features: keep directory but ignore contents
Features/*
!Features/
!Features/README.md

Net/Explainers/

